In [2]:
import pandas as pd
import numpy as np
import os
import json
import glob
import csv

## OUTPUT IS A JSON

dict----->'USA'------>'1994'------>'teamcards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playercards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'teamgoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playergoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'matches'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'squads'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------>'2014'------>'teamcards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playercards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'teamgoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playergoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'matches'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'squads'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----->'SUI'------->'1930'------>'teamcards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playercards'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'teamgoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'playergoals'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'matches'<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
------>'squads'<br />

In [164]:
ROOT = './../World-Cup-Database/'
codesRoot = ROOT + 'countries_alpha2.csv' 
geopath = "./../../map.geojson"
countryPath = "./../country-squared/*"

In [165]:
hostFolderNames = glob.glob(geopath)

hostFolderNames = [file for file in hostFolderNames] #if hasNumbers(file)]
hostFolderNames

['./../../map.geojson']

In [166]:
geojson = (pd.read_json(geopath).features).to_dict()
geojson[0]['id']

'ENG'

In [167]:
files = glob.glob(countryPath)
filenames = [file.split("/")[-1] for file in files]
flagCodes = [file.split(".")[0] for file in filenames ]
len(flagsCode)

249

In [168]:
codes = pd.read_csv(codesRoot)
codes.head()

  Code            Name
0   AF     Afghanistan
1   AX   Åland Islands
2   AL         Albania
3   DZ         Algeria
4   AS  American Samoa

In [169]:
mapName = { "United Kingdom" : "England",  "Côte d'Ivoire" : "Ivory Coast", "North Korea" : "Korea DPR", "Ireland": "Republic of Ireland" ,"South Korea":"Korea Republic",  "United States":"USA", "China": "China PR"}
codes.Code = codes.Code.map(lambda x : str(x).lower())
names  = [ (str(c).upper(), x) if x not in mapName.keys() else (str(c).upper(), mapName[x]) for (c,x) in codes.values ]

In [170]:
def isoCode(countryName) :
    for code, country in names :
        code = code.lower()
        if (country == countryName) :
            if(code not in flagCodes):
                print(name, code)
            return code
    return ""

In [171]:
len(geojson.values())

200

In [172]:
def hasNumber(strings) :
    return any([char.isdigit() for char in strings])

In [173]:
hasNumber("pep1e")

True

In [174]:
all_dirs = [ item for item in os.listdir(ROOT) if os.path.isdir(os.path.join(ROOT, item)) ]
all_dirs = [item for item in all_dirs if hasNumber(item)]

In [175]:
host = pd.DataFrame([val.split("--") for val in all_dirs], columns=["year", "country"])
host = host.groupby("country").agg(lambda x : list(x))
host = host.to_dict()
host = host['year']
host["japan"] = ['2002']
host["korearepublic"] = ['2002']
host.pop('koreajapan', None)
host

{'argentina': ['1978'],
 'brazil': ['2014', '1950'],
 'chile': ['1962'],
 'england': ['1966'],
 'france': ['1938', '1998'],
 'germany': ['2006', '1974'],
 'italy': ['1990', '1934'],
 'japan': ['2002'],
 'korearepublic': ['2002'],
 'mexico': ['1970', '1986'],
 'southafrica': ['2010'],
 'spain': ['1982'],
 'sweden': ['1958'],
 'switzerland': ['1954'],
 'uruguay': ['1930'],
 'usa': ['1994']}

In [176]:
list1 = []
list2 = []
list3 = []
list4 = []
list5 = []
list6 = []
for d in all_dirs:
    MATCHES_PATH      = ROOT + d + '/matches/matches.csv'
    PLAYER_CARDS_PATH = ROOT + d + '/statistics/player_top_cards.csv'
    PLAYER_GOALS_PATH = ROOT + d + '/statistics/player_top_goals.csv'
    TEAM_CARDS_PATH   = ROOT + d + '/statistics/team_top_cards.csv'
    TEAM_GOALS_PATH   = ROOT + d + '/statistics/team_top_goals.csv'
    TEAMS_PATH        = ROOT + d + '/teams/players.csv'
    
    """Aggragate: have to put an extra column of year"""
    year = d[:4]
    pd1 = pd.read_csv(MATCHES_PATH)
    pd1['Year'] = [year] * len(pd1)
    pd2 = pd.read_csv(PLAYER_CARDS_PATH)
    pd2['Year'] = [year] * len(pd2)
    pd3 = pd.read_csv(PLAYER_GOALS_PATH)
    pd3['Year'] = [year] * len(pd3)
    pd4 = pd.read_csv(TEAM_CARDS_PATH)
    pd4['Year'] = [year] * len(pd4)
    pd5 = pd.read_csv(TEAM_GOALS_PATH)
    pd5['Year'] = [year] * len(pd5)
    pd6 = pd.read_csv(TEAMS_PATH)
    pd6['Year'] = [year] * len(pd6)
    
    list1.append(pd1)
    list2.append(pd2)
    list3.append(pd3)
    list4.append(pd4)
    list5.append(pd5)
    list6.append(pd6)

In [177]:
matches_df      = pd.concat(list1)
matches_df = matches_df.replace(np.nan, '', regex=True) # Penalty
player_cards_df = pd.concat(list2)
player_goals_df = pd.concat(list3)
team_cards_df   = pd.concat(list4)
team_goals_df   = pd.concat(list5)
players_df      = pd.concat(list6)

In [178]:
players_df.head()

,Age,Country,CountryCode,Player,Position,Year
0,17 October 1963,Argentina,ARG,Sergio GOYCOCHEA,Goalkeeper,1994
1,23 November 1965,Argentina,ARG,Sergio VAZQUEZ,Defender,1994
2,17 May 1969,Argentina,ARG,Jose CHAMOT,Defender,1994
3,12 October 1966,Argentina,ARG,Roberto SENSINI,Defender,1994
4,6 June 1969,Argentina,ARG,Fernando REDONDO,Midfielder,1994

In [179]:
"""12 May 1908 => 12 May 1908 (aged 25)"""
new_ages = []
for index, row in players_df.iterrows():
    date = row['Age']
    if (len(date) < 5):
        new_ages.append('Unknown')
        continue
    age = int(row['Year']) - int(date.split(' ')[2])
    new_ages.append(date+'(aged '+str(age)+')')
    
players_df['Date of birth (age)'] = new_ages

In [180]:
matches_df      = matches_df     .reset_index().drop(labels='index', axis=1)
player_cards_df = player_cards_df.reset_index().drop(labels='index', axis=1)
player_goals_df = player_goals_df.reset_index().drop(labels='index', axis=1)
team_cards_df   = team_cards_df  .reset_index(drop=True)
team_goals_df   = team_goals_df  .reset_index().drop(labels='index', axis=1)
players_df      = players_df     .reset_index().drop(labels='index', axis=1)

In [181]:
team_cards_df.head()

   Country CountryCode  MatchesPlayed  RedCards  YellowCards  Year
0    Italy         ITA              7         2           11  1994
1   Sweden         SWE              7         1           13  1994
2  Bolivia         BOL              3         1            7  1994
3    Spain         ESP              5         1           13  1994
4  Romania         ROU              5         1           12  1994

In [182]:
ALL_COUNTRY_CODES = set(players_df[['CountryCode','Country']])
countryCode = players_df[['CountryCode','Country']]
countryCode = countryCode.drop_duplicates().reset_index(drop=True)
countryCode.head()

  CountryCode    Country
0         ARG  Argentina
1         BEL    Belgium
2         BOL    Bolivia
3         BRA     Brazil
4         BUL   Bulgaria

In [183]:
"""Take a player_goals dataframe of a specific year of a specific team
        return a list of tuples 
        ('PlayerName', 'Goals', 'MatchesPlayed','MinutesPlayed')"""

def player_goals(df):
    result = []
    for index, row in df.iterrows():
        result.append((row['Player'],row['Goals'],row['MatchesPlayed'], row['MinutesPlayed']))
    return result

In [184]:
"""Take a team_goals dataframe of a specific year of a specific team
        return a list of tuples 
        ('Goals', 'GoalsAgainst','MatchesPlayed')"""

def team_goals(df):
    result = []
    for index, row in df.iterrows():
        result.append((row['Goals'],row['GoalsAgainst'],row['MatchesPlayed']))
    
    df = df[['Goals','GoalsAgainst','MatchesPlayed']]
    return df.to_dict(orient='list')

In [185]:
"""Take a player_cards dataframe of a specific year of a specific team
        return a list of tuples 
        ('PlayerName', 'RedCards', 'YellowCards')"""

def player_cards(df):
    result = []
    for index, row in df.iterrows():
        result.append((row['Player'],row['RedCards'],row['YellowCards']))
    
    df = df[['Player','RedCards','YellowCards']]
    return df.to_dict(orient='list')

In [186]:
"""Take a team_cards dataframe of a specific year of a specific team
        return a list of tuples 
        ('RedCards', 'YellowCards', 'MatchesPlayed')"""

def team_cards(df):
    df = df[['RedCards','YellowCards','MatchesPlayed']]
    #result = []
    #for index, row in df.iterrows():
     #   result.append((row['RedCards'],row['YellowCards'],row['MatchesPlayed']))
    return df.to_dict(orient='list')

In [187]:
"""Take a players dataframe of a specific year of a specific team
        return a list of tuples 
        ('Date of birth (age)', 'Player', 'Position')"""

def team_squads(df):
    result = []
    for index, row in df.iterrows():
        result.append((row['Date of birth (age)'],row['Player'],row['Position']))
        
    df = df[['Date of birth (age)','Player','Position']]
    return df.to_dict(orient='list')

In [188]:
"""Take a matches dataframe of a specific year of a specific team
        return a list of tuples 
        ('Attendance', 'AwayCode', 'AwayScore','AwayTeam', 'City', 'Date', 
        'Description', 'HomeCode', 'HomeScore','HomeTeam', 'Penalty', MatchReport)
    
   How to extract DF:
   1) First find all matches of Switzerland
   suisse_matches = 
       matches_df[(matches_df['AwayCode']=='SUI') | (matches_df['HomeCode']=='SUI')]
   2) Then find all matches for a specific year 
   suisse_matches_year = 
       suisse_matches[suisse_matches['Date'].str.contains('2014')]
   """

def matches(df):
    result = []
    for index, row in df.iterrows():
        result.append((row['Attendance'],row['AwayCode'],row['AwayScore'],
                       row['AwayTeam'],row['City'],row['Date'],
                       row['Description'],row['HomeCode'],row['HomeScore'],
                       row['HomeTeam'],row['Penalty'],row['MatchReport']
                      ))
    df = df[['Attendance','AwayCode','AwayScore','AwayTeam','City','Date',\
                       'Description','HomeCode','HomeScore',\
                       'HomeTeam','Penalty','MatchReport']]
    return df.to_dict(orient='list')

In [189]:
def geoJsonCode(countryName, code) :
    for country in geojson.values() :
        if(country['properties']['name'] == countryName or country['id'] == code) :
            country['id'] = code
            return True
    return False

In [190]:
len(countryCode.values)

82

In [191]:
combNames = {"Zaire":"Democratic Republic of the Congo/Zaire", "Dutch East Indies":"Republic of Indonesia/Dutch East Indies",
            "Democratic Republic of the Congo":  "Zaire", "Republic of Indonesia":"Republic of Indonesia/Dutch East Indies"}
combCodes : {"Republic of Indonesia":"IDN", "Dutch East Indies":"IDN", "DR Congo":"COD", "Zaire":"COD" }

In [192]:
teams = {}
count = 0;
for [ccode, name] in countryCode.values:
    all_matches = matches_df[(matches_df['AwayCode']==ccode) | (matches_df['HomeCode']==ccode)]
    all_years   = set(all_matches['Year'])
    years = {}
    player_cards_ = player_cards_df[player_cards_df['CountryCode']==ccode]
    team_cards_   = team_cards_df  [team_cards_df  ['CountryCode']==ccode]
    team_goals_   = team_goals_df  [team_goals_df  ['CountryCode']==ccode]
    player_goals_ = player_goals_df[player_goals_df['CountryCode']==ccode]
    players       = players_df[players_df['CountryCode']==ccode]
    country_name  = set(team_goals_['Country'])
    for year in all_years:
        infos = {}
        infos['teamcards']   = team_cards(team_cards_[team_cards_['Year']==year])
        infos['playercards'] = player_cards(player_cards_[player_cards_['Year']==year])
        infos['teamgoals']   = team_goals(team_goals_[team_goals_['Year']==year])
        infos['playergoals'] = player_goals(player_goals_[player_goals_['Year']==year])
        infos['matches']     = matches(all_matches[all_matches['Year']==year])
        infos['squads']      = team_squads(players[players['Year']==year])
        years[year] = infos
    
    code = isoCode(name)
    hostCountries = [];
    
    #if( not geoJsonCode(name, ccode) ) :
     #   print("shape missing", name, ccode)
    
    if (code == "") :
        print ("flag missing", code, ccode, name)
    fileName = name.replace(" ", "").lower()
    if (fileName in host) :
        count += 1
        hostCountries = host[fileName]
    
    if (len(code) == 0) :
        code = ccode
        
    teams[ccode] = {}
    teams[ccode]['years'] = years
    teams[ccode]['isoCode'] = code
    teams[ccode]['host'] = hostCountries

flag missing  INH Dutch East Indies

In [193]:
count == len(host)

True

In [194]:
with open('team_statistics.json', 'w') as fp:
    json.dump(teams, fp)

In [195]:
matches_df.head()

,Attendance,AwayCode,AwayScore,AwayTeam,City,Date,Description,HomeCode,HomeScore,HomeTeam,MatchReport,Penalty,Year
0,56247,KOR,2,Korea Republic,Dallas,17 June 1994,Group matches - Group C,ESP,2,Spain,https://www.fifa.com/worldcup/matches/round=33...,,1994
1,63117,BOL,0,Bolivia,Chicago,17 June 1994,Group matches - Group C,GER,1,Germany,https://www.fifa.com/worldcup/matches/round=33...,,1994
2,73425,SUI,1,Switzerland,Detroit,18 June 1994,Group matches - Group A,USA,1,USA,https://www.fifa.com/worldcup/matches/round=33...,,1994
3,75338,IRL,1,Republic of Ireland,New Yor,18 June 1994,Group matches - Group E,ITA,0,Italy,https://www.fifa.com/worldcup/matches/round=33...,,1994
4,91856,ROU,3,Romania,Los Angeles,18 June 1994,Group matches - Group A,COL,1,Colombia,https://www.fifa.com/worldcup/matches/round=33...,,1994

In [196]:
teamnames = set()
for code, name in zip(players_df['CountryCode'], players_df['Country']):
    teamnames.add((code+name))

In [197]:
for i in (teamnames):
    print(i, end=',')

GREGreece,FRGGermany FR,CHIChile,CIVIvory Coast,EGYEgypt,NGANigeria,IRLRepublic of Ireland,KSASaudi Arabia,USAUSA,URSSoviet Union,UAEUnited Arab Emirates,CRCCosta Rica,ARGArgentina,COLColombia,ANGAngola,BIHBosnia and Herzegovina,PRKKorea DPR,ISRIsrael,CANCanada,CHNChina PR,ROURomania,SLVEl Salvador,GHAGhana,BRABrazil,HAIHaiti,ZAIZaire,SCOScotland,YUGYugoslavia,PERPeru,SWESweden,SVNSlovenia,AUTAustria,ECUEcuador,BOLBolivia,RSASouth Africa,RUSRussia,PARParaguay,KORKorea Republic,ENGEngland,IRQIraq,AUSAustralia,HUNHungary,POLPoland,IRNIran,ITAItaly,NIRNorthern Ireland,JPNJapan,MARMorocco,PORPortugal,UKRUkraine,CROCroatia,CMRCameroon,BULBulgaria,GERGermany,TUNTunisia,GDRGerman DR,WALWales,SRBSerbia,BELBelgium,TCHCzechoslovakia,SENSenegal,URUUruguay,HONHonduras,KUWKuwait,SCGSerbia and Montenegro,ESPSpain,ALGAlgeria,TRITrinidad and Tobago,FRAFrance,DENDenmark,NEDNetherlands,NORNorway,TURTurkey,JAMJamaica,SVKSlovakia,MEXMexico,INHDutch East Indies,NZLNew Zealand,CUBCuba,TOGTogo,SUISwitzerland,CZECzech Republic,

In [198]:
with open('teams.txt', 'a') as the_file:
    for i in teamnames:
        the_file.write(i+'\n')

In [199]:
features = list(geojson.values())
size = len(features)

In [200]:
with open("./../../simplemap.json", 'w') as fp:
    fp.write("{\"type\":\"FeatureCollection\",\"features\":[")
    for i in range(0, size-1) :
        fp.write(json.dumps(features[i])+",")
    fp.write(json.dumps(features[size-1])+"]}")

In [201]:
print(json.dumps(features[size-1]))

{"type": "Feature", "id": "ZWE", "properties": {"name": "Zimbabwe"}, "geometry": {"type": "Polygon", "coordinates": [[[31.191409, -22.25151], [32.244988, -21.116489], [32.508693, -20.395292], [32.659743, -20.30429], [32.772708, -19.715592], [32.611994, -19.419383], [32.654886, -18.67209], [32.849861, -17.979057], [32.847639, -16.713398], [32.328239, -16.392074], [31.852041, -16.319417], [31.636498, -16.07199], [31.173064, -15.860944], [30.338955, -15.880839], [30.274256, -15.507787], [29.516834, -15.644678], [28.947463, -16.043051], [28.825869, -16.389749], [28.467906, -16.4684], [27.598243, -17.290831], [27.044427, -17.938026], [26.706773, -17.961229], [26.381935, -17.846042], [25.264226, -17.73654], [25.649163, -18.536026], [25.850391, -18.714413], [26.164791, -19.293086], [27.296505, -20.39152], [27.724747, -20.499059], [27.727228, -20.851802], [28.02137, -21.485975], [28.794656, -21.639454], [29.432188, -22.091313], [29.839037, -22.102216], [30.322883, -22.271612], [30.659865, -22.151567], [31.191409, -22.25151]]]}}